# sudo pico /etc/systemd/system/pizero_robot.service
# sudo systemctl daemon-reload && sudo systemctl enable pizero_robot.service
# sudo systemctl start pizero_robot.service && sudo journalctl -f -u pizero_robot.service

[Unit]
Description=@pizero_robot
#After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
#Restart=always
User=root
WorkingDirectory=/home/aim/src/pizero_robot
ExecStart=/home/aim/src/pizero_robot/mqtt_control.py

[Install]
WantedBy=multi-user.target
